<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ino.web.freeBoard.mapper.FreeBoardMapper">
	
	<select id="freeBoardGetList"  parameterType="Map" resultType="Map" > 
	SELECT * FROM (
		SELECT ROWNUM RM, DATA.* FROM(
		SELECT (
			SELECT CODE_NAME FROM CODEM PK, CODED FK
			WHERE PK.GR_CODE = FK.GR_CODE   
			AND PK.GR_CODE = 'GR001' 
			AND PK.USE_YN = 'Y' 
			AND FK.USE_YN = 'Y' 
			AND FK.CODE = FB.CODE_TYPE) as CODETYPE,
		NUM, NAME, TITLE, CONTENT, TO_CHAR(REGDATE , 'YYYY/MM/DD') AS REGDATE FROM FREEBOARD FB
			<if test='searchKey==1'>
				WHERE CODE_TYPE  = #{searchValue}
			</if>
			<if test='searchKey=="2"'> 
				WHERE NAME like '%'||#{searchValue}||'%
			</if>
			<if test='searchKey=="3"'>
				WHERE TITLE like '%'||#{searchValue}||'%'
			</if>	
			<if test='searchKey=="4"'>
				WHERE CONTENT like '%'||#{searchValue}||'%'
			</if>
			<if test='searchKey=="5"'>
				WHERE NUM = #{searchValue}
			</if>
			<if test='searchKey=="6"'>
				WHERE to_char(REGDATE ,'YYYYMMDD') between #{searchValue} and #{searchValue1}
			</if>
		ORDER BY NUM DESC)DATA)
		WHERE RM >= #{start} AND
		RM &lt;= #{end}
	</select> 
	<!-- DECODE(CODE_TYPE, '01', '자유', '02', '익명', 'QnA') -->
	
	<select id="codeType" resultType="Map">
		SELECT 
		    FK.CODE,FK.CODE_NAME
		FROM CODED FK, CODEM PK 
		WHERE FK.GR_CODE = PK.GR_CODE
		AND PK.GR_CODE = 'GR001'
		AND PK.USE_YN = 'Y'
		AND FK.USE_YN = 'Y'
	</select>
	
	<select id="selectType" resultType="Map">
		SELECT 
		    FK.CODE,FK.CODE_NAME
		FROM CODED FK, CODEM PK
		WHERE FK.GR_CODE = PK.GR_CODE
		AND PK.GR_CODE = 'GR002'
		AND PK.USE_YN = 'Y'
		AND FK.USE_YN = 'Y'
	</select>

	<insert id="freeBoardInsertPro" parameterType="freeBoardDto">
		INSERT INTO FREEBOARD( CODE_TYPE, NUM, TITLE, NAME, REGDATE, CONTENT)
		VALUES(	#{codeType} ,UPPER.NEXTVAL, #{title}, #{name}, SYSDATE, #{content})
	</insert>

	<select id="freeBoardDetailByNum" resultType="freeBoardDto" parameterType="int">
		SELECT CODE_TYPE as codeType, NUM, TITLE, NAME, TO_CHAR(REGDATE,'YYYY/MM/DD') REGDATE, CONTENT FROM FREEBOARD
		WHERE NUM=#{num}
	</select>

	<select id="freeBoardNewNum" resultType="int">
		SELECT MAX(NUM)
		FROM FREEBOARD
	</select>
	
	<select id="getDataCount" parameterType="Map" resultType="int">
		SELECT NVL(COUNT(*),0) FROM FREEBOARD
		<if test='searchKey==1'>
				where CODE_TYPE  = #{searchValue} </if>
			<if test='searchKey=="2"'>
				where NAME like '%'||#{searchValue}||'%'</if>
			<if test='searchKey=="3"'>
				where TITLE like '%'||#{searchValue}||'%'</if>	
			<if test='searchKey=="4"'>
				where CONTENT like '%'||#{searchValue}||'%'</if>
			<if test='searchKey=="5"'>
				where NUM = #{searchValue}</if>
			<if test='searchKey=="6"'>
				where to_char(REGDATE ,'YYYYMMDD') between #{searchValue} and #{searchValue1}</if>
	</select>

	<update id="freeBoardModify" parameterType="freeBoardDto">
		UPDATE FREEBOARD
		SET CODE_TYPE = #{codeType}
				,TITLE = #{title}
				, CONTENT = #{content}
		WHERE NUM = #{num}

	</update>

	<update id="freeBoardDelete" parameterType="int">
		DELETE FROM FREEBOARD
		WHERE NUM
		= #{num}

	</update>
	
	<update id="freeBoardCheckDelete" parameterType="java.util.List">
		DELETE FROM FREEBOARD
		WHERE NUM IN 
		<foreach collection="list" item="item"  open="(" separator="," close=")">
		 	#{item} 
		</foreach>

	</update>

</mapper>